/* Sections control */
/* Slidehsow  */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
#shopify-section-1497425706765 {
	margin: 20px 0;
}
/*  */
#shopify-section-1497257244982{
	margin-top: 20px;
}

.weglot_switcher {display:none !important;}
html, body {
    top: 0px !important;

}
.pandaswitcher {
    margin: 0px auto;
}


.footer-translate {
    float: left;
    margin-top: 10px;
    width: 100%;
}
.footer-translate .pandaswitcher {
    float: left;
}


/*
.weglot_switcher {display:none !important;}
*/
.top-bar {
    display: block;
    height: 50px;
    padding: 12px 9%;
    border-bottom: 1px #ececec solid;
    font-size: 1em;
    font-family: "Lato","Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    text-align: right;
    font-weight: bold;
    width: 100%;
    color: #02b875;
}
#AddToCart {
    width: 100%;
    padding: 0.5em;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}


.toShake:hover, .toShake.shake  {
       transition-duration: 3s;
 -webkit-animation: shake 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px
}


@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}




/* Footer */


.desktopd h4, #main_foot a, #main_foot .phone-icon, #main_foot .phone-number, #main_foot .phone-text, footer {
color: #858585;
}

#main_foot h3 {
	color: #d7d7d7;

}



footer .social-media a .fa {
 background-color: #ffffff;
}
.store_name {
    color: #141f1c;
    font-weight: 700;
    text-transform: uppercase;"
}
.top_ft {
background: #141f1c;
}

footer {
    width: 100%;
    background: #f3f3f3;;
    font-family: "Montserrat",sans-serif;
  	word-wrap: break-word;
}
.bottom_ft {
background: #191919;;
}

#footer_middle {
    padding: 2em 0;
}
.footer-seperator {
    background: #000000;
    display: block;
    height: 6px;
}
.product-reasons {
    margin: 20px 0 0;
}
.product-reasons ul li {
    display: inline-block !important;
    width: 23% !important;
    float: teft !important;
}
#main_foot h3, #main_foot .h3 {
    font-weight: 700;
    font-size: 21px;
    width: 100%;
    padding: 0;
    margin-bottom: 2px;
    margin-top: 0;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}

#main_foot ul {
    padding: 0;
    margin: 0;
}
#main_foot p {
    font-size: 16px;
}
#main_foot li {
    list-style: none;
    margin: .5em 0;
    display: block;
    text-align: left;
  	padding: 0;
}


#main_foot .secured_block {
	
  margin: .5em 0;
  
}

#main_foot .secured_block img {
    max-width: 100px;
    width: 100%;
    margin-bottom: 6px;
}

#main_foot .secured_block p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

footer .social-media a .fa {
    border-radius: 100%;
    color: #000000 !important;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    margin: 5px;
    text-align: center;
    width: 38px;
}
.product-reasons ul li img {
    width: 100%;
}
.checkout-images img {
    width: 100%;
}
#footer_bottom {
    padding: 40px 0;
}
footer .search-form {
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 80% !important;
  color: #000;
}
button.btn.btn-default.footer_search_btn {
    height: 42px;
}
footer .navbar-form {
    padding: 0;
    margin-left: 0;
}
#main_foot .phone-icon, #main_foot .phone-number, #main_foot .phone-text {
    font-weight: 400;
    line-height: 40px;
    font-family: 'Oswald', sans-serif;
}
.phone-icon {
    font-size: 22px;
}
.cta-popup form {
    margin-top: 15px;
}
input.newsletter_txt {
    color: #000;
}
.newsletter_btns{
  	padding: 10px 10px;
	height: 46px;
    margin-top: -5px;
}
input.newsletter_txt {
    width: 170px;
}
#footer_middle {
    padding: 4em 0;
   
}
.footer_search_btn .glyphicon {
    font-size: 18px;
    color: #fff;
}

/* Product Page */
.safelogo {
    margin-top: -25px;
    margin-bottom: -35px;
}
.product-single__photos .slick-dots {
	display: none !important;
}
.similar_product{
	margin-bottom: 40px;
}
.product-single__price.on-sale, .product-single__price--compare-at.on-sale {
    color: red;
}
.product-single__description.rte p{
	text-align: justify;
}
/* .single-option-radio label:active, .single-option-radio label:focus {
    background-color: #02b875;
    border-color: #f2f2f2;
}
.single-option-radio input[type='radio']:checked+label {
    border-color: #1c1d1d;
  	color: #fff;
    background-color: #02b875;
} */
.gurantee_section {
    margin-top: 30px;
}
.gurantee_section p {
    text-align: justify;
    margin-bottom: 15px;
}
#AddToCart.big_atc {
    width: auto;
    font-size: 30px;
    font-weight: normal;
    padding: 15px 45px;
}
@media screen and (max-width: 590px){
.product-single__photos {
    padding-bottom: 0;

}

}


@media and (max-width: 768px) {
  .top-bar {
  	display: none;
  }

}



.hide-it {display:none !important;}
.phone-number {
    font-weight: 600;
    font-size: 15px;
}

.template-index .phone-number icon {color:#fff;}
.template-index .phone-number a {color:#fff;}
.phone-number icon {color:#000}
.phone-number a {color:#000}
.float-left {float:left;}
  
.phone-number-mobile {
    font-weight: 600;
    font-size: 18px;
}
.phone-number-mobile icon {color:#000;}
.phone-number-mobile a {color:#000;}

.collection-collage__item-wrapper .collection-grid__item-overlay:hover::after, .collection-collage__item-wrapper .collection-grid__item-overlay:focus::after {
    opacity: 0;
}
.collection-collage__item-wrapper .collection-grid__item-overlay::after {
    opacity: 0;
}
.block-newsletter {
    width: 100%;
    display: none;
    max-width: 990px;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 40px;
}
.block-newsletter p {
    color: #000;
    font-size: 20px;
}
.block-newsletter form{
  
}
.block-newsletter input.newsletter_txt {
    background: #fcfcfc;
    width: 100%;
    max-width: 500px;
    margin-right: 10px;
}
.block-newsletter .newsletter_btns {}

#AddToCart.big_atc {
    border-radius: 10px;
}
#footer_middle {
    margin-top: 0px;
}
.product-reasons h3 {text-align:center;}
.main-content {
    padding-bottom: 70px;
}
#main_foot {margin-top:50px;}

.search-bar--drawer {
    margin-top: 18px;
}
.tplace {
    margin-top: 5px;
    text-align: center;
}
.tplace .style_1{}
.tplace .style_1 .pandaswitcher{}
.tplace .style_1 .pandaswitcher #langbox{width: 85%;}



.logo-ones {}
.logo-ones ul li {
    float: left;
    margin-top: 15px !important;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: center !important;
    width: 30% !important;
    color: #fff;
   text-transform: uppercase;

}
.logo-ones ul {
    float: left;
    width: 100%;
}
.logo-ones ul li img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 6px;
}
/*
.desktopd h4, #main_foot a, #main_foot h3, #main_foot .phone-icon, #main_foot .phone-number, #main_foot .phone-text, footer {
    color: #d8d4d4;
}*/


@media (max-width: 480px) {

  #main_foot .secured_block p {	
    font-size: 16px;  
  }
  
  #main_foot .secured_block {
    padding-left: 13px;
    padding-right: 12px;
  }

}

@media (max-width: 992px) {

  .secured_payment_col {
  	margin-top: 30px;
  }

}


#messageus_button { 
	-webkit-transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1); */
    -moz-transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1);
    -ms-transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1);
    -o-transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1);
    transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1);
}

.js-drawer-open-right #messageus_button {

  -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px);

}




@media (min-width: 591px) {
	.js-drawer-open-right #messageus_button {	
  		-webkit-transform: translateX(-400px);
        -moz-transform: translateX(-400px);
        -ms-transform: translateX(-400px);
        -o-transform: translateX(-400px);
        transform: translateX(-400px);
	}

}

.drawer.drawer--right .drawer__close i{
	font-size: 23px;
    line-height: 23px;
    color: #c0c0c0;

}

.delete_product_cart {
  vertical-align: top;
  color: #c0c0c0;
  text-align: right;
}

.ajaxcart__qty button, .ajaxcart__qty input[type="text"] {
	display: inline-block;

}

.ajaxcart__qty button .icon::before {
	font-size: 10px;
}

.ajaxcart__price {
	letter-spacing: normal;
}
.cart--empty-message {

	margin: 20px;
}
.js-drawer-open-right #PageContainer {
	-webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
}
.js-drawer-open-right .toShake.shake  {
       transition-duration: 0s;
 -webkit-animation: none;
	        animation: none;
    transform: none;
}

.delete_product_cart-button .icon::before {
    color: #c0c0c0;
}


/**
** Shamim Changes
**/

@font-face {
font-family: 'Helvetica';
font-style: normal;
font-weight: normal;
src: local('Helvetica'), url('Helvetica.woff') format('woff');
}

.site-header .wrapper {
    background: #f5f5f5;
    border-radius: 20px;
    box-shadow: -1px 3px 8px #d8d8d8;
    padding: 0px 30px;
}
.logo-section {}
.phone-icons {display:inline-block;}
.icon-hamburger {
    font-size: 2em !important;
}
.phone-number-mobile icon {
    color: #bfbfbf;
    font-weight: 700;
}
.icon-search {
color: #bfbfbf;
    font-weight: 700;
}
.search-bar {
    padding: 0px 10px;
}
.back-button {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}
.back-button a {}
.back-button i {
    font-size: 2.5em;
    color: #bfbfbf;
}
.template-index .back-button {display:none;}
.template-index .site-header .wrapper {
    background: transparent;
    box-shadow: -1px 1px 4px #626262;
    opacity: 1;
}
.template-index .icon-hamburger::before {
    color: #fff;
}
.template-index .phone-number-mobile icon {
    color: #fff;
}
.template-index .icon-search::before {
    color: #fff;
}
.template-index .icon-cart::before {
    content: url(cart-icon-light.png);
}
.flex-control-nav {
    bottom: 5px !important;
}
.flex-control-paging li a.flex-active {
    background: #cfcfcf !important;
}
.flex-control-paging li a {
    background: transparent !important;
}
.flexslider .slides img {
    border-radius: 12px !important;
    border: 3px solid #f6f6f6;
}
.icon-hamburger::before {
    color: #000;
}
.back-button i {
    font-size: 2.5em;
    color: #b4aeae;
}
.icon-cart::before {
    content: url(cart-icon-btn.png);
}
.flex-direction-nav a::before {
    content: url(left-side.png) !important;
}
.flex-direction-nav a.flex-next::before {
    content: url(rigth-side.png) !important;
}
.flex-control-paging li a {
    width: 13px;
    height: 13px;
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
    border: 1px solid #777;

}
.shareBlock {
    background: #fafafa;
    float: left;
    width: 100%;
    padding: 10px 20px;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}
.chatOption {
    padding-left: 0px;
    float: left;
    text-align: left;
}
.chatOption img {}
.chatOption p {
    font-family: Helvetica;
    color: #848383;
    font-size: 14px;
    margin-bottom: 0px;
}
.chatOption a:hover {text-decoration:none;}
.saveShare {}
.saveShare p {
    font-family: Helvetica;
    margin-bottom: 0px;
}
.saveShare a {
    float: right;
    padding-left: 30px;
    color: #848383;
    font-size: 14px;
}
.saveShare img {
    height: auto;
    width: 100%;
    max-width: 23px;
    margin-left: 10px;
}
.saveShare a:hover {text-decoration:none;}
.flexslider {
    margin: 0 0 25px !important;
    box-shadow: 2px 2px 5px rgba(69, 69, 69, 0.3);
}
.mobile {display:none;}
.desktop {display:block;}
.saveShare {
    padding-left: 0px;
}
.middle a {
    padding-left: 0px;
    margin: 0px auto;
    float: none;
}
.middle {}

.flexslider {
    border: 0px solid #f6f6f6 !important;
    background:#f6f6f6 !important;
    -webkit-box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2) !important;
    -o-box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2) !important;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2) !important;
    border-radius: 12px !important;
}


@media only screen and (max-width: 767px) {
.site-header .wrapper {
    background: #fff;
    border-radius: 0;
}
.search-bar {display:none;}  
.phone-icons {display:none;}  
.main-content .wrapper {padding: 0px 0px;}
.flexslider {
    border: 0px solid #fff !important;
        -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.template-product .main-content {padding-top: 0px;}  
.flexslider .slides img {
    border-radius: 0px !important;
}
.back-button {
    display: inline-block;
    margin-right: 4px;
    margin-left: 0px;
}  
  .mobile {display:block;}
  .desktop {display:none;}
.shareBlock {
    border-radius: 0px;
    margin-bottom: 20px;
}
.logo-section {
    width: 100%;
}
  
  
  
}